<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
  <h1 class="text-3xl font-bold text-blue-600">Welcome to Rails with Tailwind!</h1>
  <%= yield %>
</body>
</html>